body{
    font-family: "funnel display", sans-serif;
    background-color: #0e1111;
    opacity: 1;
    background-size: 8px 8px;
    background-image: repeating-linear-gradient(45deg, #1b1b1b 0, #1b1b1b 0.8px, #0e1111 0, #0e1111 50%);
    color: #F2F0EF;
}

img.slogo{
    width: 30%;
    height: auto;
}

.Butt{
    background-color: #F2F0EF;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "funnel display", sans-serif;
    margin: 4px 2px;
    cursor: pointer;
}
.Butt:hover{
    transition-duration: 0.5s;
    background-color: #F1515E;
    color: #F2F0EF;
    border: 2px solid #000000;
}

.pages{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
@media (max-width: 600px){
    .pages{
        flex-direction: column;
    }
}